<h1>Profile page </h1>

 First Name : <%=@user.fname %><br>
 Last Name :<%= @user.lname %><br>
 Email Address : <%= @user.email %><br><br>

 <%= link_to "Retun to list of topic",  root_path  %><br><br>
 <%= link_to "New topic"  %><br><br>




