<h1>Create a New Topic </h1>

<%= form_for(@post)  do |f| %>
  <%= f.label(:topic, "Name of Topic") %>
  <%= f.text_field(:topic) %>
  <%= f.label(:title, "Title") %>
  <%= f.text_field(:title) %>
  <%= f.label(:content, "content") %>
  <%= f.text_field(:content) %>
  <%= f.submit(:submit) %>		
<% end %>

